<div>
    <h2>
        <span>Contents</span>
        <button class="btn btn-primary float-right jh-create-entity create-content" [routerLink]="['/', { outlets: { popup: ['content-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Content
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="contents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Type</span></th>
            <th><span>Subscription Type</span></th>
            <th><span>Video</span></th>
            <th><span>Rules</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let content of contents ;trackBy: trackId">
                <td><a [routerLink]="['../content', content.id ]">{{content.id}}</a></td>
                <td>{{content.type}}</td>
                <td>{{content.subscriptionType}}</td>
                <td>
                    <div *ngIf="content.video">
                        <a [routerLink]="['../movie-content', content.video?.id ]" >{{content.video?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="content.rules">
                        <a [routerLink]="['../content-rules', content.rules?.id ]" >{{content.rules?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../content', content.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'content/'+ content.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'content/'+ content.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
