
<div *ngIf="imageContent">
    <h2><span>Image Content</span> {{imageContent.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{imageContent.name}}</span>
        </dd>
        <dt><span>Caption</span></dt>
        <dd>
            <span>{{imageContent.caption}}</span>
        </dd>
        <dt><span>Content Path</span></dt>
        <dd>
            <span>{{imageContent.contentPath}}</span>
        </dd>
        <dt><span>Creation Date</span></dt>
        <dd>
            <span>{{imageContent.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Update Date</span></dt>
        <dd>
            <span>{{imageContent.updateDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Content</span></dt>
        <dd>
            <div *ngIf="imageContent.content">
                <a [routerLink]="['/content', imageContent.content?.id]">{{imageContent.content?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'image-content/'+ imageContent.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
